virtual_network/terraform.tfstate.backup
virtual_network/terraform.tfstate
virtual_network/.terraform.lock.hcl
virtual_network\.terraform\providers\registry.terraform.io\hashicorp\azurerm\4.29.0\windows_amd64\terraform-provider-azurerm_v4.29.0_x5.exe